/os-fcgi/win32/Release/
/os-fcgi/win32/Debug/
/os-fcgi/win32/ipch/
*.opensdf
*.sdf
*.suo
*.vcxproj.filters
*.vcxproj.user

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
